/* Header */
.page--header {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 55px;

  background-color: #f55a5a;
}

.header--image {
  width: 30px;
  height: 30px;

  background: #dadada;
}

.header--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

/*  */

/* Cards */

.place--card {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". image placeMap ."
    ". image title ."
    ". image date ."
    ". image . ."
    ". image description  ."
  ;
}
.date--container {
  grid-area: date;
  display: flex;

}

.place--container{
  grid-area: placeMap;
  display: flex;
  gap: 15px;

}

.img--url {
  grid-area: image;
  place-self: center;
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.place--location {
  grid-area: location;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2b283a;
}

.place--googleMaps {
  grid-area: map;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 30px;
  text-decoration-line: underline;

  color: #918e9b;
}

.place--title {
  grid-area: title;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2b283a;
}

.place--startDate {
  grid-area: start;
  justify-self: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2b283a;
}

.place--endDate {
  grid-area: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2b283a;
}

.place--description {
  grid-area: description;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;

  color: #2b283a;
}
